* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}
body > div {
    margin: auto;
    font-family: Helvetica, sans-serif;
}
/* toast */
.toast {
    display: flex;
    padding: 12px 0;
    border: 4px solid;
    border-radius: 16px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
    min-width: 400px;
    max-width: 450px;
    transition: all linear .4s;
}

@keyframes slideIn {
    from {
        transform: translateX(calc(100% + 32px));
    }

    to {
        transform: 0px;
        ;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}



.toast__icon {
    font-size: 24px;
    padding: 0px 12px;
}

.toast__title {
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 0;
}

.toast__msg {
    margin: 0 0;
}

.toast__body {
    line-height: 16px;
    font-size: 16px;
}

.toast__close {
    padding: 0 12px;
}

.toast+.toast {
    margin-top: 24px
}

.toast--sucess {
    border-color: #cce7cf;
    background-color: #f2f9f5;
}

.toast--sucess .toast__icon {
    color: #50dc6c;
}

.toast--info {
    border-color: #adc8ee;
    background-color: #e7effa;
}

.toast--info .toast__icon {
    color: #2c82e9;
}

.toast--warning {
    border-color: #f3daab;
    background-color: #fef8eb;
}

.toast--warning .toast__icon {
    color: #fec022;
}

.toast--error {
    border-color: #edcbc1;
    background-color: #fbefeb;
}

.toast--error .toast__icon {
    color: #fc5758;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 99999999;
}
.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 32px;
    min-width: 120px;
    background-color: transparent;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    transition: opacity .3s;
    

}


.btn--success {
    background: #50dc6c;
}

.btn--wrong {
    background-color: #fc5758;
}

.btn+.btn {
    margin-left: 16px;
}

.btn--large {
    padding: 12px 48px;
}

.btn--large {
    padding: 12px 48px;
}

.btn--medium {
    padding: 10px 32px;
}

.btn--small {
    padding: 8px 28px;
}

.btn--success {
    background-color: #71be34;
}

.btn--warning {
    background-color: #ffb702;
}

.btn--danger {
    background-color: #ff623d;
}

.btn--disabled {
    opacity: .4 !important;
    cursor: default;
}
.btn::selection{
    background: transparent;
}
.btn:hover{
    opacity: .8;
}